<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="-0.0344852 -0.0843553 0.0191218" rpy="0.0138443 -0.00323099 -0.0149272" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="-0.0344852 -0.0843553 0.0191218   0.00693396 -0.00156375 -0.00747452 0.999947 wrist_3_link camera_color_optical_frame" />
</launch>
