<launch>
    <param name="/use_sim_time"  value="false"/>
    <arg name="color_width"      default="1280"/>
    <arg name="color_height"     default="720"/>
    <arg name="depth_width"      default="1280"/>
    <arg name="depth_height"     default="720"/>
    <arg name="align_depth"      default="false"/>
    <arg name="filters"          default="pointcloud"/>
    <!--<arg name="filters"          default="colorizer,pointcloud,temporal,decimation"/> -->
    <arg name="ordered_pc"       default="true"/>
    <!-- colorizer,pointcloud,disparity,spatial,temporal,hole_filling,decimation -->

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="color_width" value="$(arg color_width)"/>
        <arg name="color_height" value="$(arg color_height)"/>
        <arg name="depth_width"  value="$(arg depth_width)"/>
        <arg name="depth_height" value="$(arg depth_height)"/>
        <arg name="align_depth" value="$(arg align_depth)"/>
        <arg name="filters" value="$(arg filters)"/>
        <arg name="ordered_pc" value="$(arg ordered_pc)"/>
    </include>
    
    <!-- Calculation done in tf_transformations.py script-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="ur_camera_broadcaster"
    args="-0.01900175 -0.0842239 0.01904847 0.49694298 -0.50709689  0.49515566  0.50072077 wrist_3_link camera_link" />

</launch>